<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Bookstore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">
    <div class="container">
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="/" class="nav-link <%= 'active' if current_page?(root_path) %>" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="/books" class="nav-link <%= 'active' if request.path.include?('/books') %>">Books</a></li>
          <li class="nav-item"><a href="/authors" class="nav-link <%= 'active' if request.path.include?('/authors') %>">Authors</a></li>
          <li class="nav-item"><a href="/tags" class="nav-link <%= 'active' if request.path.include?('/tags') %>">Tags</a></li>
          <li class="nav-item"><a href="/request-books/new" class="nav-link <%= 'active' if request.path.include?('/request-books') %>">Request a Book</a></li>
        </ul>
      </header>
      <main class="flex-shrink-0">
        <%= yield %>
      </main>
    </div>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Ing. Oswaldo Montes</span>
      </div>
    </footer>
  </body>
</html>
