<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link " aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/books" class="nav-link">Books</a></li>
        <li class="nav-item"><a href="/authors" class="nav-link">Authors</a></li>
        <li class="nav-item"><a href="/tags" class="nav-link">Tags</a></li>
        <li class="nav-item"><a href="/request-books" class="nav-link">Request Books</a></li>
      </ul>
    </header>
    <main class="flex-shrink-0">
      <%= yield %>
    </main>
  </body>
</html>
